@model MVCFaculty.ViewModels.EnrollStudentsViewModel

@{
    ViewData["Title"] = "Запиши студенти";
}

<h2>Запиши студенти</h2>
<hr />
<form asp-action="EnrollStudents">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @Html.DisplayNameFor(model => model.CourseId): <select asp-for="CourseId" asp-items="Model.Courses">
        <option value="">/</option>
    </select>
    @Html.DisplayNameFor(model => model.Year): <select asp-for="Year" asp-items="Model.Years">
        <option value="">/</option>
    </select>
    @Html.DisplayNameFor(model => model.Semester): <select asp-for="Semester" asp-items="Model.Semesters">
        <option value="">/</option>
    </select>
    <hr />
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label asp-for="StudentIds" class="control-label"></label>
                <select asp-for="StudentIds" class="form-control js-example-basic-multiple" asp-items="Model.Students">
                    <option value="">/</option>
                </select>
            </div>
        </div>
        <div class="form-group col-md-12">
            <hr />
            <input type="submit" value="Запиши избрани" class="btn btn-default" />
        </div>
    </div>
</form>


<div>
    <a asp-action="Index">Назад кон студентите</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#CourseId").select2();
            $("#StudentIds").select2();
        });
    </script>
}
